/* スタイル設定 */
body {
    font-family: sans-serif;
    background-color: #010409;
    color: #f0f6fc;
}

.controls {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.controls label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.grid {
    display: grid;
}

.block {
    background-color: #f0f6fc;
}

.block.past {
    background-color: #0d1117;
}

.block.current {
    background-color: #0d1117;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.7);
}

/* カレンダーアイコンを消す */
/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}

/* 一部Edge等 */
input[type="date"]::-ms-input-placeholder {
    display: none;
}

input[type="date"] {
    border: none;
    border-bottom: 1px solid #6b6b6b;
    background: transparent;
    color: inherit;
    padding: 4px 0;
    width: 75px;      /* ここを日付+αに調整 */
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input:focus {
    outline: none;
    border-bottom-color: #f0f6fc;
}
